html,
body {
  height: 100%;
}

body {
  background-color: var(--lightGrey);
  font-size: 16px;
  font-family: var(--fontPrimary);
}

body {
  display: flex;
  flex-direction: column;
}

.is-align {
  display: flex;
  align-items: center;
  justify-content: center;
}