.footer{
    flex-direction: column;
    background-color: var(--orange);
   
}

  
  .footer__menu-list {
    list-style: none;
    padding-top: 1rem;
  }
  
  .footer__menu-element {
    padding: 0.7rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    font-weight: 100;
    color: var(--white);
    background-color: var(--red);
    transition: background-color 0.2s ease;
  }

  .footer__icon-list{
    list-style: none;
    padding-bottom: 1rem;
  }

  .footer__icon{
    padding: 0.5rem;
    font-size: 0.9rem;
    color: var(--white);
    background-color: var(--brown);
  }
