.header {
  background-color: var(--orange);
  flex-direction: column;
}

.header__container {
  gap: 0.5rem;
  padding: 1.2rem;
}

.header__logo {
  height: 2.5rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__menu {
  width: 100%;
}

.header__menu-list {
  justify-content: space-around;
  list-style: none;
  background-color: var(--red);
}

.header__menu-element {
  padding: 0.8rem;
  font-size: 0.9rem;
  font-weight: 100;
  color: var(--white);
  transition: background-color 0.2s ease;
}

.header__menu-element:hover {
  background-color: var(--lightRed);
  }