.header {
  background-color: var(--orange);
  flex-direction: column;
}
.header__inner{
  width: 100%;
  max-width: 72rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 0;
}
.header__container {
  margin: 0 auto;
  gap: 0.5rem;
  padding: 1.2rem;
}

.header__logo {
  height: 2.5rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__menu {
  width: 100%;
}

.header__menu-list {
  justify-content: space-around;
  list-style: none;
  background-color: var(--red);
}

.header__menu-element {
  flex: 1 1 auto;
  padding: 0.8rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 100;
  color: var(--white);
  background-color: var(--red);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.header__menu-element:hover {
  background-color: var(--lightRed);
}

@media (min-width: 43rem) {
  .header__inner {
    padding-right: 2rem;
  }

  .header__menu {
    width: 30rem;
  }

  .header__container {
    margin: 0;
  }
}
