.main {
  flex-direction: column;
}

.main__article {
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.main__article-title {
  font-size: 1.2rem;
}

.main__article-text {
  font-size: 0.8rem;
}
