:root{
   --white: rgb(255, 255, 255);
   --black: rgb(0, 0, 0);
   --grey: rgb(214, 212, 212);
   --orange:rgb(249, 157, 65);
   --red:rgb(200, 54, 54);
   --lightRed: rgb(247, 70, 70);
   --green:rgb(51, 139, 10);
   --brown: rgb(162, 100, 23);
   --fontPrimary: Arial, Helvetica, sans-serif;
}

