:root{
   --white: rgb(255, 255, 255);
   --black: rgb(0, 0, 0);
   --grey: rgb(201, 196, 196);
   --orange:rgb(249, 157, 65);
   --red:rgb(200, 54, 54);
   --lightRed: rgb(247, 70, 70);
   --green:rgb(51, 139, 10);
   --brown: rgb(104, 64, 14);
   --fontPrimary: Arial, Helvetica, sans-serif;
}

