:root{
   --white: rgb(255, 255, 255);
   --black: rgb(0, 0, 0);
   --grey: rgb(202, 201, 201);
   --lightGrey: rgb(234, 232, 232);
   --orange:rgb(249, 157, 65);
   --red:rgb(200, 54, 54);
   --lightRed: rgb(247, 70, 70);
   --green:rgb(51, 139, 10);
   --brown: rgb(134, 83, 21);
   --fontPrimary: Arial, Helvetica, sans-serif;
}

